html, body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #f0f0f0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  box-sizing: border-box;
}

app-root {
  display: block;
  min-height: 100vh;
  background-color: #121212;
}
